{{ ansible_managed | comment }}

{% if keycloak_hostname_strict_https is defined and keycloak_hostname_strict_https is sameas true -%}
hostname-strict-https=true
{% endif -%}
{% if keycloak_hostname_strict_https is defined and keycloak_hostname_strict_https is sameas false -%}
hostname-strict-https=false
{% endif -%}

{% if keycloak_hostname_backchannel_dynamic is defined and keycloak_hostname_backchannel_dynamic is sameas true -%}
hostname-backchannel-dynamic=true
{% endif -%}
{% if keycloak_hostname_backchannel_dynamic is defined and keycloak_hostname_backchannel_dynamic is sameas false -%}
hostname-backchannel-dynamic=false
{% endif -%}

# Observability
metrics-enabled={{ keycloak_metrics_enabled | lower }}
health-enabled={{ keycloak_health_enabled | lower }}

# HTTP
http-enabled={{ keycloak_http_enabled | lower }}
http-port={{ keycloak_http_port }}
http-relative-path={{ keycloak_http_relative_path }}

# HTTPS
https-port={{ keycloak_https_port }}
{% if keycloak_https_key_file_enabled %}
https-certificate-file={{ keycloak_cert_file}}
https-certificate-key-file={{ keycloak_key_file }}
{% endif %}

# Client URL configuration
{% if keycloak_frontend_url %}
# hostname-url={{ keycloak_frontend_url }}
{% else %}
# hostname={{ keycloak_hostname }} 
# hostname-port={{ keycloak_port }}
# hostname-path={{ keycloak_path }}
{% endif %}

#hostname-admin-url={{ keycloak_admin_url }}
hostname-strict={{ keycloak_hostname_strict | lower }}
#hostname-strict-backchannel={{ keycloak_hostname_strict_backchannel | lower }}

{% if keycloak_proxy_headers | length > 0 %}
proxy-headers={{ keycloak_proxy_headers | lower }}
{% elif keycloak_proxy_mode is defined and keycloak_proxy_mode != "none" %}
# Deprecated Proxy configuration
proxy={{ keycloak_proxy_mode }}
{% endif %}

spi-sticky-session-encoder-infinispan-should-attach-route={{ keycloak_spi_sticky_session_encoder_infinispan_should_attach_route | d(true) | lower }}

# Transaction
transaction-xa-enabled={{ keycloak_transaction_xa_enabled | lower }}

# Logging
#log-format=%d{yyyy-MM-dd HH:mm:ss,SSS} %-5p [%c] (%t) %s%e%n
log={{ keycloak_log }}
log-level={{ keycloak.log.level }}
log-file={{ keycloak.log.file }}
log-file-format={{ keycloak.log.format }}

